.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
  background: linear-gradient(135deg, #028226 0%,#8fe48f 100%);
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    z-index: 1001; // make sure it's above the menu
  
    span {
      display: block;
      width: 1.5rem;
      height: 0.2rem;
      background-color: white;
      border-radius: 0.1rem;
      transition: all 0.3s ease;
    }
  
    &.active span:nth-child(1) {
      transform: translateY(0.55rem) rotate(45deg);
    }
  
    &.active span:nth-child(2) {
      opacity: 0;
    }
  
    &.active span:nth-child(3) {
      transform: translateY(-0.55rem) rotate(-45deg);
    }
  }
  

  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .amharic {
      font-size: 0.9rem;
      line-height: 1;
    }

    .english {
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .cart-btn {
    background: none;
    border: none;
    color: white;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;

    .cart-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: currentColor;
    }

    .cart-badge {
      position: absolute;
      top: 0;
      right: 0;
      background: #fcdd09;
      color: #2c2c2c;
      border-radius: 50%;
      width: 1.2rem;
      height: 1.2rem;
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(25%, -25%);
      font-weight: bold;
    }
  }
}

.mobile-menu {
  position: absolute;
  top: 64px; // adjust if navbar is taller
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 999;

  a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    
    &.logout-link {
      color: #e53935; // Red
      &:hover {
        background: rgba(229, 57, 53, 0.1);
      }
    }
    
    &.login-link {
      color: #028b34; 
      &:hover {
        background: rgba(30, 136, 229, 0.1);
      }
    }
  }
}
